<article id="singleRecipe" class="p-10 flex flex-col justify-center mx-auto">
  <article *ngIf="loading() && !recipe">
    <app-loading-page></app-loading-page>
  </article>
  <article *ngIf="recipe">
    <h1 class="text-green-800 font-bold text-2xl">{{ recipe.title }}</h1>
    <section class="flex flex-col lg:flex-row justify-evenly mx-auto mt-5">
      <div
        id="ingredientsList"
        class="w-2/3 lg:w-1/3 h-fit glass-card flex justify-center mx-auto mt-10 items-center rounded-md m-0"
      >
        <ul class="flex flex-col justify-center pl-10 my-8">
          <li
            *ngFor="let ing of recipe.ingredients"
            class="list-none text-left"
          >
            {{ ing }}
          </li>
        </ul>
      </div>
      <div id="preparationDetails" class="w-2/3 lg:w-1/2 mt-5 mx-auto">
        <p class="text-gray-800 mb-4 px-4 text-left"></p>
        <ol class="flex flex-col justify-center align-middle pl-10 mt-2 mb-6">
          <ng-container *ngIf="recipe.method && recipe.method.length !== 0">
            <ng-container
              *ngFor="let step of recipe.method.split('.'); let i = index"
            >
              <li class="text-left py-1">{{ step }}</li>
            </ng-container>
          </ng-container>
        </ol>

        <footer class="text-sm text-green-800 mb-6 font-bold">
          {{ recipe.cookingTime }} to make.
        </footer>
      </div>
    </section>
  </article>
</article>
